{% extends 'home/base.html' %}
{%block content%}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="card w-50">
        <div class="card-body" style="text-align:center;">
          <p class="card-title">Produtos cadastrados</p>
          <h5 class="card-text">  {{productsCount}}</h5>
          <a href="{% url 'products:products_list' %}" class="btn btn-primary">Produtos</a>
        </div>
      </div>
      </div>
  {%endblock%}