{% extends 'base.html' %}
{% load widget_tweaks %}
{%block content%}

<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title">
				</div>

				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="first_name">Nome:</label>
						
						{{ form.first_name|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="email">Email:</label>

						{{ form.email|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<label class="label-input100" for="password">Senha:</label>

						{{ form.password1|add_class:'input100' }}
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<label class="label-input100" for="password">Repetir Senha:</label>

						{{ form.password2|add_class:'input100' }}
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="cep">CEP:</label>

						{{ form.cep|add_class:'input100'|attr:"onblur:pesquisacep(this.value)" }}

						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="address">Endereço:</label>

						{{ form.address|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="number">Número:</label>

						{{ form.number|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100  m-b-26" >
						<label class="label-input100" for="complement">Complemento:</label>

						{{ form.complement|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="neighborhood">Bairro:</label>

						{{ form.neighborhood|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="city">Cidade:</label>

						{{ form.city|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input m-b-26" data-validate="Requerido">
						<label class="label-input100" for="uf">Estado:</label>

						{{ form.uf|add_class:'input100' }}

						<span class="focus-input100"></span>
					</div>


					<div class="flex-sb-m w-full p-b-30">


						<div >
							<a href="{% url 'accounts:login' %}" class="txt1 "  >
								Tem Conta? Login
							</a>

						</div>
					</div>

					<div class="container-login100-form-btn">
							<input type="submit" value="Registrarse" class="login100-form-btn" />
							{% if form.errors %}
					
					<div class="modal modal-sheet position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSheet">
						<div class="modal-dialog" role="document">
						  <div class="modal-content rounded-4 shadow">
							<div class="modal-header border-bottom-0">
							  <h5 class="modal-title" style="color:red;">Erro</h5>
							  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body py-0">
							  <p>      {{ form.non_field_errors }}
								{% for hidden_field in form.hidden_fields %}
								{{ hidden_field.errors }}
								{{ hidden_field }}
								{% endfor %}
									{% for field in form.visible_fields %}
								{{ field.errors }}
								{% endfor %}</p>
							</div>
							<div class="modal-footer flex-column border-top-0">
								<button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal" onclick=javascript:window.history.back() >Fechar</button>
							</div>
						  </div>
						</div>
					  </div>
							   {% endif %}
					  

					
					</div>
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->

    <script>
    
		function limpa_formulário_cep() {
				//Limpa valores do formulário de cep.
				document.getElementById('id_address').value=("");
				document.getElementById('id_neighborhood').value=("");
				document.getElementById('id_city').value=("");
				document.getElementById('id_uf').value=("");
		}
	
		function meu_callback(conteudo) {
			if (!("erro" in conteudo)) {
				//Atualiza os campos com os valores.
				document.getElementById('id_address').value=(conteudo.logradouro);
				document.getElementById('id_neighborhood').value=(conteudo.bairro);
				document.getElementById('id_city').value=(conteudo.localidade);
				document.getElementById('id_uf').value=(conteudo.uf);
			} //end if.
			else {
				//CEP não Encontrado.
				limpa_formulário_cep();
				alert("CEP não encontrado.");
			}
		}
			
		function pesquisacep(valor) {
	
			//Nova variável "cep" somente com dígitos.
			var cep = valor.replace(/\D/g, '');
	
			//Verifica se campo cep possui valor informado.
			if (cep != "") {
	
				//Expressão regular para validar o CEP.
				var validacep = /^[0-9]{8}$/;
	
				//Valida o formato do CEP.
				if(validacep.test(cep)) {
	
					//Preenche os campos com "..." enquanto consulta webservice.
					document.getElementById('id_address').value="...";
					document.getElementById('id_neighborhood').value="...";
					document.getElementById('id_city').value="...";
					document.getElementById('id_uf').value="...";
					
					//Cria um elemento javascript.
					var script = document.createElement('script');
	
					//Sincroniza com o callback.
					script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';
	
					//Insere script no documento e carrega o conteúdo.
					document.body.appendChild(script);
	
				} //end if.
				else {
					//cep é inválido.
					limpa_formulário_cep();
					alert("Formato de CEP inválido.");
				}
			} //end if.
			else {
				//cep sem valor, limpa formulário.
				limpa_formulário_cep();
			}
		};
	
		</script>

		{%endblock%}
